.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > h1 {
  margin-bottom: 20px;
  font-size: 26px;
}

.container button {
  margin-top: 30px;
  margin-bottom: 50px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 40%;
}

.img {
  width: 100%;
  border-radius: 11px;
  margin-top: 30px;
}


.sucess {
  color: rgba(85, 132, 122, 0.97)!important;
}