.button {
  border-radius: 0.5rem;
  background: rgba(85, 132, 122, 0.97);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  padding: 1rem;
  width: 50%;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(85, 132, 122, 0.8);
}

.button:active {
  background-color: rgba(85, 132, 122, 0.6);
}

button:disabled {
  background-color: grey;
}

.buttonRed {
  border-radius: 0.5rem;
  background:  rgba(255, 71, 71, 0.97);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  padding: 1rem;
  width: 50%;
}

.buttonRed:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.buttonRed:active {
  background-color: rgba(255, 0, 0, 0.6);
}

.buttonRed:disabled {
  background-color: rgb(121, 58, 58);
}