.container {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.container form {
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 25px 25px 0;
}
.container input {
  margin-bottom: 15px;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button{
  width: 45%;
  margin-bottom: 15px;
}