.accordion {
  width: 100%;
}

.accordionItem {
  width: 100%;
  border: 0.5px solid #b1b1b1 !important;
}

.accordionBody {
  padding: 5px !important;
  border: 1px solid #b1b1b1 !important;
  border-width: 90%;
}

.accordionHeader {
  margin: 0;
  border: 1px;
}

.accordionHeader button {
  margin: 0;
}

.accordion ul {
  margin: 0;
  padding: 0;
  display: flex !important;
  flex-direction: column !important;
}

.accordion li {
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 0.5px solid #b1b1b1;
}

.accordion li:last-child {
  border-bottom: none;
}

.accordion p {
  margin: auto 0;
}


.itemsBtns {
  position: relative;
  display: flex;
  align-items: center;
}

.itemsBtns button {
  background: none;
  border: none;
  color: rgba(85, 132, 122, 1);
  margin: 0;
  font-size: 24px;
  padding: 0;
}

.text {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}