.accordion {
  width: 100%;
}

.accordionItem {
  margin-bottom: 15px;
  width: 100%;
}

.accordionHeader {
  margin: 0;
}

.accordionHeader button {
  margin: 0;
}

.accordion ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

.accordion li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
