.container {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.imagePreview {
  margin-top: 15px;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.buttons button{
  width: 45%;
  margin: 0;
}

.container p {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 0;
}